* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;

  overflow: hidden;
}

header {
  width: 100%;
  margin-top: 14px;
  margin-right: 28px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header a {
 
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  margin-right: 16px;
}

header a:hover {
  text-decoration: underline;
}

header a:first-child {
  margin-top: -7px;
  margin-right: 15px;
}

header a:nth-child(2) {
  margin-top: -7px;
  margin-right: 19px;
}

header a:nth-child(3) {
  margin-top: -2px;
  margin-right: 38px;
  padding: 6px 8px;
}

header a:nth-child(3):hover {
  background-color: rgba(60,64,67,0.08);
  border-radius: 50%;
}

header a svg {
  opacity: 0.60;
  width: 24px;
  height: 24px;
}

header a:nth-child(4) {
  border: 4px solid #EFF0F0;
}

header a img {
  border-radius: 50%;
  margin-right: 2px;
  margin-left: 4px;
  position: absolute;
  right: 16px;
  top: 0;
}

header a img:hover {
  margin-top: -4px;
  margin-right: -2px;
  margin-bottom: -6px;
  border: 4px solid #EFF0F0;
  border-radius: 50%;
}

main {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 7px;
}

main img {
  width: 100%;
  max-width: 272px;
  margin-top: 2px;
}

main form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

main form div input {
 border: none; 
 align-items: center;
 margin: 0 0 0 10px;
 width: 100%;
}

main form div {
  width: 203.1%;
  top: 26px;
  position: absolute;
  padding: 10px 0px;
  border-radius: 35px;
  border: 1px solid #dfe1e5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main form div:hover {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

main form div:focus {
  outline-style: none;
  text-align: start;
}

main form div svg:nth-child(1){
  padding-left: 14px;
  width: 39.5px;
  fill: #9AA0A6;
}

main form div svg:nth-child(4){
  width: 70px;
  cursor: pointer;
  margin-left: -2px;
  margin-right: 0.5px;
}

main form div input:focus {
  outline-style: none;
  text-align: start;
}

main div span {
  width: 24px;
  margin-right: 4px;
  margin-top: 2px;
}

main div span img {
  color: #222;
  background: transparent;
  cursor: pointer;
}

main form button {
  padding: 10px 17px;
  border: none;
  border-radius: 2px;
  background-color: #F8F9FA;
  margin-top: 101px;

  cursor: pointer;

  font-size: 14px;
  font-weight: 100;
  color: #3c4043;
}

main form button:nth-child(2) {
  margin-right: 12px;
}

main form button:focus {
  outline-style: none;
  border: 1px solid #4285F4;
}

main form button:hover {
  box-shadow: 1px 1.75px 2px #dadce0,
              -1px -1px 1px #dadce0;
  border-radius: 4px;
}

main p {
  margin-top: 25px;
  font-size: 13px;
  line-height: 24px;
  padding-right: 3px;
}

main p a {
  padding-left: 3px;
}

.footer-link a,
main p a {
  text-decoration: none;
}

.footer-link a:hover,
main p a:hover {
  text-decoration: underline;
}

footer {
  background-color: #F2F2F2;
  width: 100%;
  position: absolute;

  display: flex;
  flex-direction: column;
  bottom: -301px;
}

.lang {
  width: 100%;
  padding: 14px 30px 15px;
  font-size: 15px;
  color: #70757a;

  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #DFE1E5;
}

.footer-link {
  padding: 15px 19px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.footer-link a {
  color: #70757a;
  margin-right: 26px;
}

.about-google {
  padding-left: 16px;
}

.settings {
  padding-right: 0;

}

.settings a:last-child {
  margin-right: 16px;
}

.settings a:first-child {
  margin-right: 26.5px;
}

/* Responsive */

@media (max-width: 320px) {
  header {
    margin-top: 8px;
    margin-right: 12px;
  }

  header a {
    font-weight: 700;
    color: #595959;
    text-transform: uppercase;

    text-decoration: none;
    margin-right: 14px;
  }

  header img {
    margin-left: 6px;
  }

  header a img {
    margin-left: 48px;
  }

  main img {
    width: 100%;
    margin-top: 24px;
    max-width: 220px;
  }

  main form input {
    margin-top: 44px;
    align-items: center;
    width: 300px;
  }

  main form button {
    display: none;
  }

  main p {
    margin-top: 24px;
  }

  main p a {
    margin-left: 12px;
  }

  footer {
    bottom: -288px;
  }

  .lang {
    padding: 10px 12px;
  }

  .footer-link a {
    color: #595959;
    font-size: 14px;
  }

  .footer-link {
    flex-direction: column;
  }

  .about-google {
    margin-bottom: 18px;
  }

  .about-google a {
    padding-left: 24px;
  }

  .about-google a:last-child {
    display: none;
  }

  .settings {
    padding-left: 24px;
  }

}